<header>
    <div class="left">Yummy</div>
    <input type="checkbox" id="checkbox">
    <label for="checkbox" class="toggle">
        <div class="bars" id="bar1"></div>
        <div class="bars" id="bar2"></div>
        <div class="bars" id="bar3"></div>
    </label>
    <div class="right">
        <ul>
            <li><a class="Home" href=""><%=main %></a></li>
            <li><a class="About" href="#">About Us</a></li>
            <li><a class="Resume" href="#">Menu</a></li>
            <li><a class="Services" href="#">Event</a></li>
            <li><a class="Portfolios" href="#">Gallery</a></li>
            <li><a class="Contact" href="#">Contact</a></li>
            <a class="btn" href="">Login</a>
        </ul>
    </div>
</header>